
    
        <div class="row">
          <div class="medium-8 medium-push-4 columns">
            <img class="funciona" id="yeti" src="../assets/yeti.svg">
          </div>
            <button id="transitioner">Transition!</button>
            <button id="animacao" onclick="animacao()">Animacao!</button>
            
            <div class="parent">
              <button onclick="mostrarFila()">Mostrar objetos!</button>
              <div class="thing-one">
                <img src="../assets/yeti.svg">
              </div>
              <div class="thing-two">
                <img src="../assets/yeti.svg">
              </div>
              <div class="thing-three">
                <img src="../assets/yeti.svg">
              </div>
            </div>
        </div>


