<h1>Galeria de Fotos</h1>
      <button onclick="diminuirZoom()"><img class="zoom-negativo" src="../assets/lupa-negativo.png"></button>
      <button onclick="aumentarZoom()"><img class="zoom-positivo" src="../assets/lupa-positivo.png"></button>

<div class="cards">
  <div class="foto1">
    <img class="galeria" src="../assets/capela-cistina.jpg" alt="Capela Cistina">
  <img class="galeria" src="../assets/coliseu.jpg" alt="Coliseu">
  <img class="galeria" src="../assets/machu-picchu.jpg" alt="Machu Picchu">
  <img class="galeria" src="../assets/muralha-da-china.jpg" alt="Muralha da China">
  <img class="galeria" src="../assets/pao-de-acucar.jpg" alt="Pao de Açucar">
  </div>
  <div class="foto2">
    <img class="galeria" src="../assets/piramides.png" alt="Piramides do Egito">
  <img class="galeria" src="../assets/taj-mahal.jpg" alt="Taj Mahal">
  <img class="galeria" src="../assets/torre-de-pisa.jpg" alt="Torre de Pisa">
  </div>
  <div class="foto3">
    <img class="galeria" src="../assets/torre-eiffel.jpg" alt="Torre Eiffel">
  <img class="galeria" src="../assets/torre-eiffel.jpg" alt="Torre Eiffel">
  </div>
  
  <button onclick="remove()">Resetar</button>
</div>